*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #002330;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 1.3rem;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 15px 7px black;
}
#lamp{
    background-color: thistle;
    display: block;
    float: left;
    margin-left: 84px;
    margin-right: -52px;
}
img {
    width: 250px;
    height: 200px;
}
.off{
    display: block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 15px 10px black;
}
.on {
    display: block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 15px 10px yellow;
}
.interrupt {
    display: block;
    float: left;
    width: 100px;
    height: 50px;
    border-radius: 1.3rem;
    border: none;
    font-size: larger;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    background-color: white;
    font-family: sans-serif;
    cursor: pointer;
}
#turnOn{
    border: 2px solid green;
}
#turnOff{
    border: 2px solid red;
}